<div class="navbar-container">
    <div class="navbar-left">
        {% if request.user.is_authenticated %}
        	<p style="color: white;margin-left: 20px;">{{ request.user }}</p>
        {% else %}
            <a class="login_button" href="">Login</a>
            <a class="register_button" href="">Register</a>
        {% endif %}
    </div>


    <div class="navbar-center">
        <h4 class="page_header">Task List</h4>
    </div>


    <div class="navbar-right">
        <a class="logout_button" href="">Logout</a>
    </div>
</div>