* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf9f9;
}

a {
    text-decoration: none;
}

.navbar-container {
    width: 100%;
    height: 70px;
    background: #7373ff;
    display: flex;
}


.navbar-left {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.login_button {
    margin-left: 40px;
}

.login_button:hover {
    transition: 0.2s;
    color: white;
}

.register_button {
    margin-left: 20px;
}

.register_button:hover {
    transition: 0.2s;
    color: white;
}

.navbar-center {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.page_header {
    font-size: 35px;
    color: aliceblue;
}

.navbar-right {
    width: 25%;
    height: 100%;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logout_button:hover {
    transition: 0.2s;
    color: #fa2525;
}

.main-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.tasks-container {
    width: 50%;
    background: #022d34;
}

.add-task-container {
    width: 100%;

}

.add-task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.add-task-title-edit-line {
    width: 80%;
    margin-right: 10px;
}

.task-container{
    display: flex;
    justify-content: center;
    margin: 5px;
    background: #f38989;
    border-radius: 10px;
    padding: 5px;
}

.task_title{
    width: 70%;
    padding: 5px;
}
.task_title_done{
    width: 70%;
    padding: 5px;
    color: darkblue;
}

.task-update{
    display: flex;
    background: green;
    justify-content: center;
}

.container-login{
    display: flex;
    width: 100%;
    justify-content: center;
}