{% extends 'base.html' %}

{% block title %}
    Task List
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="tasks-container">
            <div class="add-task-container">
                <form class="add-task-form" style="width: 100%" action="{% url 'todo:task_create' %}" method="post">

                    <input  class="add-task-title-edit-line" type="text" name="title">
                    <input type="submit" value="Add">
                    {% csrf_token %}
                </form>
                
            </div>

                {% for task in tasks %}
                    <div class="task-container">
                        {% if task.state == "ToDo" %}
                        	<p class="task_title">{{ task.title }}</p>
                            {% else %}
                            <strike class="task_title_done">{{ task.title }}</strike>
                        {% endif %}

                        <div class="control_buttons">

                            <a href="{% url 'todo:task_delete' pk=task.id %}"><img style="width: 20px;height: 20px;" src="../../media/trash.png" alt="Delete"></a>
                            <a href="{% url 'todo:task_edit' pk=task.id %}"><img style="width: 20px;height: 20px;" src="../../media/edit.png" alt="Edit"></a>
                            <a href="{% url 'todo:task_change_state' pk=task.id state='ToDo' %}">ToDo</a>
                            <a href="{% url 'todo:task_change_state' pk=task.id state='Done' %}">Done</a>
                        </div>

                    </div>
                    {% endfor %}





        </div>
    </div>


{% endblock %}